<h3>Agregar receta</h3>
<form>
  <div class="medium-divider">
    <h6>Datos:</h6>
  </div>
  <div class="grid large-space">
    <div class="l4">
      <div class="field label border">
        <input type="text">
        <label>Nombre</label>
      </div>
    </div>
    <div class="l4">
      <div class="field label border">
        <input type="number">
        <label>Porciones</label>
      </div>
    </div>
    <div class="l4">
      <div class="field label border">
        <input type="time">
        <label>Tiempo de preparacion</label>
      </div>
    </div>
  </div>
  <div class="medium-divider">
    <h6>Ingredientes:</h6>
  </div>
  <div class="field label border">
    <input type="text">
    <label>Label</label>
  </div>
  <div class="medium-divider">
    <h6>Preparacion:</h6>
  </div>
  <div class="field label border">
    <input type="text">
    <label>Label</label>
  </div>
</form>